Node-RED/* -linguist-vendored
PLC_S7_1500/* linguist-vendored
PLC_S7_1500_exercises/* linguist-vendored
PLC_SCL_sources/* linguist-vendored
docs/* linguist-documentation

*.scl linguist-detectable
*.scl linguist-language=SCL

*.zap16 linguist-detectable
*.zap16 linguist-language=TIA Portal V16
